$primary-white: #fff;
$secondary-white: #fcfcfc;
$primary-orange: #EC622B;
$primary-green: #0FA810;
$primary-gray: #7C7C7C;
$secondary-green: #2E9344;
$primary-black: #000;
$color-background: #141e55;
$color-dark-blue: #192A32;
$color-deep-blue: #1A3769;

$font-main: 'Poppins', sans-serif;

$border-radius-16: 16px;
$border-radius-6: 6px;
$border-radius-60: 60px;

